header {
    width: 100%;
    background-color: rgba(26, 115, 232, 0.15);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .headerStatement {
        display: flex;
        align-items: center;
        p {
            color: black;
            margin-right: 20px;
        }
        a {
            color:rgba(26, 115, 232, 1);
            text-decoration: none;
            font-weight: 500;
        }
    }
}